@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 5px;
}
